.landing-students {
    min-height: 800px;
    padding: 75px 120px;
    background: linear-gradient(180deg, #42235A 0%, #8D4AC0 100%);
    color: white;
    .students-intro-text-container {
        max-width: 512px;
        .students-intro-head {
            color: #FFF;
            font-size: 37.6px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 10px;
        }
        .students-intro-text1 {
            color: #FFF;
            text-align: justify;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .students-intro-text2 {
            color: #FFF;
            text-align: justify;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 20px;
        }
    }

    .students-category-nav {
        margin-top: 10px;
        ul {
            display: flex;
            padding-top: 30px;
            gap: 15px;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal; 

            li {
                list-style: none;
                cursor: pointer;

            }

            li.All.active {
                color: #EBE331;
                text-decoration-line: underline; 
            }

            li.Solar.active {
                color: #FFAA05; 
                text-decoration-line: underline; 
            }

            li.Nebula.active {
                color: #FB4BFF; 
                text-decoration-line: underline; 
            }

            li.Stardust.active {
                color: #27D8FF; 
                text-decoration-line: underline; 
            }

            li.Vortex.active { 
                color: #06FA76; 
                text-decoration-line: underline; 
            }


        }
    }

    .students-avatars-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin-top: 30px;
        .students-avatar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            img {
                width: 170px;
                height: 170px;
                border-radius: 50%;
                object-fit: cover;
            }
            .student-info-container {
                margin-top: 20px;
                color: #FFF;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-align: center;
                .student-name {
                    font-weight: 700;
                    margin-bottom: 5px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 20px 30px;
        .students-avatars-grid {
            grid-template-columns: repeat(2, 1fr);
            .students-avatar {
                padding: 10px;
                img {
                    width: 140px;
                    height: 140px;
                    border-radius: 50%px;
                }
                .student-info-container {
                    font-size: 14px;
                }
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1224px) {
        padding: 20px 30px;
        .students-avatars-grid {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            .students-avatar {
                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                }
                .student-info-container {
                    font-size: 14px;
                }
            }
        }
    }

    @media (min-width: 1224px) and (max-width: 1380px) {
        padding: 20px 60px;
        .students-avatars-grid {
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            .students-avatar {
                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%px;
                }
                .student-info-container {
                    font-size: 14px;
                }
            }
        }
    }
}